@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */


/* hero */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    text-align: center;
    background-image: url(../images/Hero-bg.png);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  h2, p {
    margin: 10px 0;
  }
  
  .btn-primary-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #0D1321;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary-1:hover {
    background-color: #0056b3;
  }
  
  
  
  
      
/* my-current-section */
.text-center{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 25px;
    padding-right: 80px;
    padding-left: 45px;
}
.html-bgc{
    background-color: rgba(255, 76, 30, 0.05);
}
.css-bgc{
    background-color: rgba(0, 76, 232, 0.05);
}
.js-bgc{
    background-color: rgba(255, 223, 0, 0.05);
}

skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px  5px  0px rgba(0, 0, 0, 0.1);
}
.dark{
    color: #0D1321;
}

/* my-inspiration-section */
.container {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 60vh;
    width:1050px 490px ;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 10px;
    align-self: stretch;
    margin-top: 30px;

  }
  iframe {
    border: none;

  }
  /* footer-section */

  .footer-form {
    background-image: url(../images/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 68px;
    margin-bottom: 120px;
    
  }
  
  h3, p {
    margin: 20px 0; 
    
  }
  
  .message-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%; 
    max-width: 400px; 
    margin-left: 87px;
  }
  
  .message-box p {
    margin: 0; 
  }
  

  
  .message-button:hover {
    background-color: #0056b3; 
  }
  .btn-primary{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #FFFFFF;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  

  }
  .ftr{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    background-color: #0D132108;
  }


  /* Why Web Development */

  .section-bg{
    background-color: #0D132105;
    border-radius: 16px;
    width: 1200px;
    height: 850px;
    margin-left: 150px;
    margin-bottom: 155px;
    margin-top: 50px;
  }
  .section-title-2{
    margin-top: 90px;
  }

  .inner-div-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFFFF
    #FFFFFF00;
    margin-bottom: 48px;
    margin-top: 48px;

  }
  .inner-div-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFFFF
    #FFFFFF00;
    margin-bottom: 48px;
    margin-top: 48px;


  }
  .inner-div-3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFFFF
    #FFFFFF00;
    margin-bottom: 48px;
    margin-top: 48px;


  }

  .image-cnt-1{
    

width: 259.56px;
height: 217.01px;
left: 0.36%;
right: -0.36%;
top: 1.74%;
bottom: -1.74%;
  }
  .inner-cnt-2{
     

width: 250.2px;
height: 208.85px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

  }
  .inner-cnt-3{



width: 240.4px;
height: 187.32px;
left: 8.14%;
right: -8.14%;
top: 14.06%;
bottom: -14.06%;

  }
  .text{
    flex: 1;

    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

.btn{
    width: 95px;
    height: 25px;
}

  

  



