@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */

#hero{
    background-image: url(../images/Hero-bg.png);
    
    width: 100%%;
    height: 100%%%;
    left: 0;
    right: 0;
    top: 120px;
    bottom: 3000px;
}

      
/* my-current-section */
.text-center{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 25px;
    padding-right: 80px;
    padding-left: 45px;
}
.html-bgc{
    background-color: rgba(255, 76, 30, 0.05);
}
.css-bgc{
    background-color: rgba(0, 76, 232, 0.05);
}
.js-bgc{
    background-color: rgba(255, 223, 0, 0.05);
}

skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px  5px  0px rgba(0, 0, 0, 0.1);
}
.dark{
    color: #0D1321;
}

/* my-inspiration-section */
.container {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 60vh;
    width:1600px 1400px ;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 10px;

  }
  iframe {
    border: none;
  }
  /* footer-section */

  .footer-form {
    background-image: url(../images/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
  }
  
  h3, p {
    margin: 20px 0; 
    
  }
  
  .message-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%; 
    max-width: 400px; 
  }
  
  .message-box p {
    margin: 0; 
  }
  
  .message-button {
    margin-left: 20px; 
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .message-button:hover {
    background-color: #0056b3; 
  }
  
  

  



